@page
@model DadsCollections.RazorPages.Pages.Products.DisplaySelectedProductModel
@{
}
<h1> Product Display </h1>
<h5 class="card-title">@Model.SelectedProduct.Title</h5>
<p class="card-text">@Model.SelectedProduct.Description</p>