@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <p> Ceramics </p>
        <div class="row">  
            @foreach (var items in Model.CeramicImages)
            {
                var iPhotoUrl = "/images/ceramics/" + items;
                <div class="col">
                    <img src="@iPhotoUrl" height="150" />
                </div>
            }   
        </div>
</div>

<div class="container mt-5">
    <p> Watches </p>
        <div class="row">  
            @foreach (var items in Model.WatchImages)
            {
                var iPhotoUrl = "/images/watches/" + items;
                <div class="col">
                    <img src="@iPhotoUrl" height="150" />
                </div>
            }   
        </div>
</div>

<div class="container mt-5">
    <p> Jewelries </p>
        <div class="row">  
            @foreach (var items in Model.JewelryImages)
            {
                var iPhotoUrl = "/images/jewelries/" + items;
                <div class="col">
                    <img src="@iPhotoUrl" height="150" />
                </div>
            }   
        </div>
</div>

<p> @HttpContext.Session.Id</p>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*https://folklorestore.co.nz/collections/cups-mugs-teapots*@